<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Payroll Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#employeeMenuNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="employeeMenuNavbar" aria-labelledby="employeeMenuNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="employeeMenuNavbarLabel">Employee Payroll Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item mt-3">
              <a class="nav-link active" aria-current="page" href="#" class="styleLinks">Employee</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="#" class="styleLinks">Salary</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="#" class="styleLinks">Leave</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="#" class="styleLinks">Attendence</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="#" class="styleLinks">Timesheet</a>
            </li>
            <li class="nav-item dropdown mt-2">
              <a class="nav-link dropdown-toggle fw-bold" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Attendence
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item mt-3">
                  <a class="dropdown-item" routerLink="markAttendance">Mark Attendance</a>
                </li>
                <li><a class="dropdown-item" routerLink="updateOrDelete">Update or Delete Attendance</a></li>
              </ul>
            </li> 
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
