<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Payroll Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#employeeMenuNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="employeeMenuNavbar" aria-labelledby="employeeMenuNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="employeeMenuNavbarLabel">Employee Payroll Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item mt-3">
              <a class="nav-link active" aria-current="page" href="#" class="styleLinks">Leave</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="#" class="styleLinks">Attendence</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="#" class="styleLinks">Timesheet</a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" routerLink="viewScheduledWorks" routerLinkActive="active" class="styleLinks">Scheduled Works</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>